.container {
    width: 50%;
    margin: 3rem auto auto auto;
}

.example-card {
    max-width: 400px;
    margin: auto auto 8px auto;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
}