<div class="container">
    <mat-card class="example-card">
        <mat-card-title-group class="card">
            <mat-card-title> {{ user.name }} </mat-card-title>
            <mat-card-subtitle> {{ user.username }} </mat-card-subtitle>
            <img mat-card-xl-image src="https://www.softzone.es/app/uploads-softzone.es/2018/04/guest.png?x=480&quality=20">
        </mat-card-title-group>
        <mat-card-content>
            <p> <strong>Email: </strong> {{ user.email }} </p>
            <p> <strong>Phone: </strong> {{ user.phone }} </p>
            <p> <strong>Website: </strong> {{ user.website }} </p>
        </mat-card-content>
    </mat-card>
</div>